t/CS/MultimediaJobProcessorClientDemo/Web References/JobServiceReference/JobService0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Leadtools.JobProcessor.ServiceContracts/2009/01" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Leadtools.JobProcessor.ServiceContracts/2009/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01" location="http://localhost/LEADTOOLSJobProcessorServices/JobService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IJobService" type="i0:IJobService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddJob">
      <soap:operation soapAction="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01/IJobService/AddJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="JobProcessorFaultFault">
        <soap:fault use="literal" name="JobProcessorFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClientJobs">
      <soap:operation soapAction="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01/IJobService/GetClientJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="JobProcessorFaultFault">
        <soap:fault use="literal" name="JobProcessorFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteJob">
      <soap:operation soapAction="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01/IJobService/DeleteJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="JobProcessorFaultFault">
        <soap:fault use="literal" name="JobProcessorFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AbortJob">
      <soap:operation soapAction="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01/IJobService/AbortJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="JobProcessorFaultFault">
        <soap:fault use="literal" name="JobProcessorFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobInformation">
      <soap:operation soapAction="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01/IJobService/GetJobInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="JobProcessorFaultFault">
        <soap:fault use="literal" name="JobProcessorFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetJob">
      <soap:operation soapAction="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01/IJobService/ResetJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="JobProcessorFaultFault">
        <soap:fault use="literal" name="JobProcessorFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddJobs">
      <soap:operation soapAction="http://Leadtools.Services.JobProcessor.ServiceContracts/2010/01/IJobService/AddJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="JobProcessorFaultFault">
        <soap:fault use="literal" name="JobProcessorFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>