t/PACSFramework/CS/ModalityWorklistWCFDemo/Service References/Broker/Leadtools.Medical.Worklist.DataAccessLayer.MatchingParameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Leadtools.Medical.Worklist.DataAccessLayer.MatchingParameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Leadtools.Medical.Worklist.DataAccessLayer.MatchingParameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Leadtools.Dicom.Common.DataTypes" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Leadtools.Dicom" />
  <xs:complexType name="ImagingServiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q1:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessionNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FillerOrderNumber_ImagingServiceRequest" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImagingServiceRequestComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlacerOrderNumber_ImagingServiceRequest" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferringPhysicianFamilyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferringPhysicianGivenName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferringPhysicianMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferringPhysicianPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferringPhysicianSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestingPhysicianFamilyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestingPhysicianGivenName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestingPhysicianMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestingPhysicianPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestingPhysicianSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestingService" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImagingServiceRequest" nillable="true" type="tns:ImagingServiceRequest" />
  <xs:complexType name="RequestedProcedure">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q2:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PatientTransportArrangements" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedProcedureComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedProcedureDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedProcedureID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedProcedurePriority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudyInstanceUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestedProcedure" nillable="true" type="tns:RequestedProcedure" />
  <xs:complexType name="ArrayOfReferencedStudySequence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferencedStudySequence" nillable="true" type="tns:ReferencedStudySequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferencedStudySequence" nillable="true" type="tns:ArrayOfReferencedStudySequence" />
  <xs:complexType name="ReferencedStudySequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q3:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferencedSOPClassUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferencedSOPInstanceUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferencedStudySequence" nillable="true" type="tns:ReferencedStudySequence" />
  <xs:complexType name="RequestedProcedureCodeSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q4:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeMeaning" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeDesignator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeVersion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestedProcedureCodeSequence" nillable="true" type="tns:RequestedProcedureCodeSequence" />
  <xs:complexType name="Visit">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q5:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdmissionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentPatientLocation" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Visit" nillable="true" type="tns:Visit" />
  <xs:complexType name="ReferencedPatientSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q6:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReferencedSOPClassUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferencedSOPInstanceUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferencedPatientSequence" nillable="true" type="tns:ReferencedPatientSequence" />
  <xs:complexType name="ScheduledProcedureStep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q7:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pre_Medication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedContrastAgent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledPerformingPhysicianNameFamilyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledPerformingPhysicianNameGivenName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledPerformingPhysicianNameMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledPerformingPhysicianNamePrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledPerformingPhysicianNameSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledProcedureStepDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledProcedureStepID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledProcedureStepLocation" nillable="true" type="xs:string" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Leadtools.Dicom.Common.DataTypes" minOccurs="0" name="ScheduledProcedureStepStartDate_Time" nillable="true" type="q8:DateRange" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduledProcedureStep" nillable="true" type="tns:ScheduledProcedureStep" />
  <xs:complexType name="ArrayOfScheduledProtocolCodeSequence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduledProtocolCodeSequence" nillable="true" type="tns:ScheduledProtocolCodeSequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduledProtocolCodeSequence" nillable="true" type="tns:ArrayOfScheduledProtocolCodeSequence" />
  <xs:complexType name="ScheduledProtocolCodeSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q9:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeMeaning" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeDesignator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduledProtocolCodeSequence" nillable="true" type="tns:ScheduledProtocolCodeSequence" />
  <xs:complexType name="PPSInformation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q10:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommentsonthePerformedProcedureStep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MPPSSOPInstanceUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformedLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformedProcedureStepDescription" nillable="true" type="xs:string" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Leadtools.Dicom" minOccurs="0" name="PerformedProcedureStepEndDate" nillable="true" type="q11:DicomDateRangeValue" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Leadtools.Dicom" minOccurs="0" name="PerformedProcedureStepEndTime" nillable="true" type="q12:DicomTimeRangeValue" />
          <xs:element minOccurs="0" name="PerformedProcedureStepID" nillable="true" type="xs:string" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Leadtools.Dicom" minOccurs="0" name="PerformedProcedureStepStartDate" nillable="true" type="q13:DicomDateRangeValue" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Leadtools.Dicom" minOccurs="0" name="PerformedProcedureStepStartTime" nillable="true" type="q14:DicomTimeRangeValue" />
          <xs:element minOccurs="0" name="PerformedProcedureStepStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformedProcedureTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformedStationAETitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformedStationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudyInstanceUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PPSInformation" nillable="true" type="tns:PPSInformation" />
  <xs:complexType name="ArrayOfPPSDiscontinuationReasonCodeSequence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PPSDiscontinuationReasonCodeSequence" nillable="true" type="tns:PPSDiscontinuationReasonCodeSequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPPSDiscontinuationReasonCodeSequence" nillable="true" type="tns:ArrayOfPPSDiscontinuationReasonCodeSequence" />
  <xs:complexType name="PPSDiscontinuationReasonCodeSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q15:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeMeaning" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeDesignator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PPSDiscontinuationReasonCodeSequence" nillable="true" type="tns:PPSDiscontinuationReasonCodeSequence" />
  <xs:complexType name="ArrayOfPPSRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PPSRelationship" nillable="true" type="tns:PPSRelationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPPSRelationship" nillable="true" type="tns:ArrayOfPPSRelationship" />
  <xs:complexType name="PPSRelationship">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q16:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItmeOrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledProcedureStepID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PPSRelationship" nillable="true" type="tns:PPSRelationship" />
  <xs:complexType name="ArrayOfPerformedProtocolCodeSequence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformedProtocolCodeSequence" nillable="true" type="tns:PerformedProtocolCodeSequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformedProtocolCodeSequence" nillable="true" type="tns:ArrayOfPerformedProtocolCodeSequence" />
  <xs:complexType name="PerformedProtocolCodeSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q17:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeMeaning" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeDesignator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerformedProtocolCodeSequence" nillable="true" type="tns:PerformedProtocolCodeSequence" />
  <xs:complexType name="ArrayOfPerformedSeriesSequence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformedSeriesSequence" nillable="true" type="tns:PerformedSeriesSequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformedSeriesSequence" nillable="true" type="tns:ArrayOfPerformedSeriesSequence" />
  <xs:complexType name="PerformedSeriesSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q18:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerformingPhysicianName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProtocolName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RetrieveAETitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SeriesDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SeriesInstanceUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerformedSeriesSequence" nillable="true" type="tns:PerformedSeriesSequence" />
  <xs:complexType name="ArrayOfProcedureCodeSequence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcedureCodeSequence" nillable="true" type="tns:ProcedureCodeSequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcedureCodeSequence" nillable="true" type="tns:ArrayOfProcedureCodeSequence" />
  <xs:complexType name="ProcedureCodeSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q19:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeMeaning" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeDesignator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodingSchemeVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcedureCodeSequence" nillable="true" type="tns:ProcedureCodeSequence" />
  <xs:complexType name="ReferencedImageSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q20:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferencedSOPClassUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferencedSOPInstanceUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferencedImageSequence" nillable="true" type="tns:ReferencedImageSequence" />
  <xs:complexType name="ArrayOfReferencedNonImageCompositeSequence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferencedNonImageCompositeSequence" nillable="true" type="tns:ReferencedNonImageCompositeSequence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferencedNonImageCompositeSequence" nillable="true" type="tns:ArrayOfReferencedNonImageCompositeSequence" />
  <xs:complexType name="ReferencedNonImageCompositeSequence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q21:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferencedSOPClassUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferencedSOPInstanceUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SeriesInstanceUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferencedNonImageCompositeSequence" nillable="true" type="tns:ReferencedNonImageCompositeSequence" />
  <xs:complexType name="PatientInfoforUnscheduledPPS">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/Leadtools.Medical.DataAccessLayer.Catalog" base="q22:CatalogEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="IssuerofPatientID" nillable="true" type="xs:string" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Leadtools.Dicom" minOccurs="0" name="PatientBirthDate" nillable="true" type="q23:DicomDateRangeValue" />
          <xs:element minOccurs="0" name="PatientID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PatientSex" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PatientInfoforUnscheduledPPS" nillable="true" type="tns:PatientInfoforUnscheduledPPS" />
</xs:schema>